

header {
    width: 100%;
    height: 100%;
    padding: 5px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .site-logo {
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: bolder;
        font-family: cursive;
        font-style: italic;
    }

    .navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul {
            list-style: none;
            
            li {
                display: inline-block;
                margin-right: 12px;

                .link {
                    text-decoration: none;
                }
            }
        }

        button {
            margin: 3px 7px;
            font-family: 'Times New Roman', Times, serif;
            padding: 3px 12px;
            border: 2px solid black;
            background: transparent;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}