

header {
    width: 100%;
    height: 100%;
    padding: 5px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .site-logo {
        text-decoration: none;
        font-size: 1.4rem;
        font-family: cursive;
        font-style: italic;
        font-weight: bold;
    }

    .navigation {
        display: flex;
        align-items: center;

        ul {
            list-style: none;
            li {
                display: inline-block;
                margin-right: 9px;

                .link {
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                }
            }

            .logout-btn {
                font-size: .75rem;
                padding: 4px 12px;
                border-radius: 6px;
                margin: 3px 7px;
                cursor: pointer;
                font-family: 'Times New Roman', Times, serif;
                border: 2px solid black;
                background: transparent;
            }

            button {
                border: none;
                background: transparent;
                font-size: 1.4rem;
                cursor: pointer;

            }
        }
    }
}